@import "../../theme/utils";

.root {
  flex: 1;

  p {
    font-size: make-rem(14);
    color: make-color(paper);
    line-height: 1.6;
  }

  a {
    color: make-color(paper);
  }
}
.title {
  font-size: make-rem(16);
  text-transform: uppercase;
  color: white;
  padding-bottom: make-rem(16);
  margin-bottom: make-rem(32);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: make-rem(2);
    background: make-color(primary);
  }
}
