@import "./vars";

@function hex-to-rgba($hex, $alpha: 1) {
  $red: str-slice($hex, 1, 2);
  $green: str-slice($hex, 3, 4);
  $blue: str-slice($hex, 5, 6);

  @return rgba(hex($red), hex($green), hex($blue), $alpha);
}

@function make-color($color, $opacity: 1) {
  $colorRgb: hex-to-rgba($color, $opacity);

  @return var(--color-#{$colorRgb}, $opacity);
}
