$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
  retina: 1200px,
);

// Define a mixin for responsive styles
@mixin make-responsive($size) {
  $breakpoint: map-get($breakpoints, $size) - 1px;

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
