$font-family:
  "filson-pro",
  ui-sans-serif,
  system-ui,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;
$font-size: 16;

$color: (
  paper: #ffffff,
  dark: #000000,
  primary: #5c9b9e,
  secondary: #5c779e,
  tertiary: #9e995c,
  grey-1: #ccc,
);
