$font-family: "filson-pro", ui-sans-serif, system-ui, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$font-size: 16;

$color: (
  paper: #ffffff,
  dark: #000000,
  primary: #40696c,
  grey-1: #ccc,
);
