$font-family: Poppins, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$font-size: 16;

$color: (
  paper: #ffffff,
  primary: #40696c,
  grey-1: #ccc,
);
