@import "../../../theme/utils";

.drawer {
  --drawer-width: #{make-rem(200)};

  display: block;
  padding: 0;
  border: 0;
  transition: backdrop-filter 1s ease;
  display: grid;
  margin: 0;
  border: 0;

  position: absolute;
  left: calc(100% - var(--drawer-width));
  width: var(--drawer-width);

  &::backdrop {
    transition: backdrop-filter 1s ease;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }

  @keyframes slide-left {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(--drawer-width);
    }
  }

  @keyframes slide-right {
    0% {
      opacity: 1;
      transform: translateX(--drawer-width);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.left-to-right {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  border-top-left-radius: make-rem(16);
  border-bottom-left-radius: make-rem(16);
  height: 100%;
  max-height: 100%;

  @media (prefers-reduced-motion: no-preference) {
    &[open] {
      animation: slide-left 0.2s ease-in-out forwards;

      &::backdrop {
        animation: fade-in 0.2s ease-in-out forwards;
      }
    }
    &.close {
      animation: slide-right 0.2s ease-in-out forwards;

      &::backdrop {
        animation: fade-out 0.2s ease-in-out forwards;
      }
    }
  }
}

.sm {
  --drawer-width: #{make-rem(200)};
}
.md {
  --drawer-width: #{make-rem(400)};
}
