.uc {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > div {
    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;

      img {
        width: 50%;
        margin-bottom: 4rem;
      }

      p {
        margin-top: 1rem;
        width: 40ch;
        text-align: center;
      }
    }
    &:last-child {
      background: url("/bg-2.svg");
      background-size: cover;
    }
  }
}
