@import "../../theme/utils";

.footer {
  min-height: make-rem(400);
  background: #233334;
  width: 100%;
}

.container {
  max-width: make-rem(1024);
  margin: 0 auto;
  padding: make-rem(32) make-rem(32);
  display: flex;
  flex-direction: column;

  @include make-responsive(tablet) {
    flex-direction: row;
    gap: make-rem(32);
  }
}
