@import "../../../theme/utils";

.root {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: make-color(paper, 0.8);
  border-bottom: 1px solid make-color(grey-1, 0.5);
  z-index: 10;
  padding: 0 make-rem(32);

  & > div {
    max-width: make-rem(1024);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: make-rem(32);
    align-items: center;
    text-align: center;

    & > div {
      &:first-child {
        justify-self: start;
      }

      &:last-child {
        justify-self: end;
      }
    }
  }
}

.img {
  height: make-rem(20);
  width: auto;
}
