@import "../../../theme/utils";

.root {
  background: make-color(paper);
  border: make-rem(1) solid make-color(grey-1);
  box-shadow: 0px 1px 4px rgba(25, 33, 61, 0.08);
  border-radius: make-rem(6);
  display: block;
  width: 100%;
}

.md {
  height: make-rem(46);
  padding: 0 make-rem(16);
  font-size: make-rem(14);
  line-height: make-rem(20);
  color: make-color(grey-5);
  font-family: var(--font-family);
}
