@import "../../theme/utils";

.root {
  background: none;
  border: none;
  margin: 0;
  padding: 0;

  width: min-content;
  height: make-rem(40);
  border-radius: make-rem(99999);
  white-space: nowrap;
  cursor: pointer;
  font-family: var(--font-family);
}

.sm {
}
.md {
  height: make-rem(40);
  font-size: make-rem(16);
  padding: 0 make-rem(20);
}

.lg {
}

.primary {
  background: make-color(primary);
  color: make-color(paper);
  font-weight: 600;

  &:hover {
    background: make-color(primary, 0.9);
  }
}
