@import "../../../theme/utils";

.page-section {
  width: 100%;
  position: relative;

  // Up to tablet
  @include make-responsive(zero, tablet) {
    padding: make-rem(52) make-rem(32);
  }

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  & > * {
    position: relative;
    z-index: 10;
  }
}

.page-section-faq {
  // Variant - Default
  @include make-global(default) {
    & > * {
      // Responsive - tablet and up
      @include make-responsive(tablet) {
        width: make-rem(600);
        margin: 0 auto;
        text-align: center;
        padding: make-rem(64) 0;
      }
    }
  }
}
