@import "../../../theme/utils";

.root {
  @include make-responsive-mobile {
    margin: make-rem(80) auto;
  }

  @include make-responsive-tablet {
    margin: make-rem(100) auto;
  }
}

.content {
  max-width: make-rem(1024);
  margin: 0 auto;
}

.content {
  @include make-responsive(tablet) {
    width: make-rem(600);
    margin: 0 auto;
    text-align: center;
    padding: make-rem(64) 0;
  }
}

.faq {
}
