@import "../../../theme/utils";

.article {
  h1 {
    font-size: make-rem(40);
    line-height: make-rem(48);
    font-weight: 700;
    max-width: 24ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: make-rem(80);
    margin-bottom: make-rem(32);
  }
}
