@import "../../../theme/utils";

.root {
  width: 100vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  padding: make-rem(64) make-rem(32);

  * {
    z-index: 1;
  }

  h1 {
    position: relative;
    margin: 0;
    font-size: make-rem(40);
    line-height: 1.2;
  }

  p {
    margin-top: make-rem(16);
    line-height: 1.4;
    font-weight: 400;
  }
}

.container {
  max-width: make-rem(1200);
  position: relative;
  margin: 0 auto;
  height: max-content;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

  & > img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: bottom;
  }
}

.layout {
  &-full-screen {
  }
  &-dual-pane,
  &-img-grid {
    @include make-responsive(zero, tablet) {
      display: block;
      margin: 0 auto;
    }

    @include make-responsive(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      display: grid;
      gap: make-rem(64);
    }
  }
}

.cta {
  margin-top: make-rem(32);
}

.pane {
  &-primary {
    align-self: center;
    padding: make-rem(64) 0;
  }
  &-alt {
    background-color: make-color(paper);
    border-radius: make-rem(32);

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: inherit;
    }
  }
}

// NEW!

.section {
  width: 100%;
  position: relative;
  height: min-content;

  & > img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    object-fit: cover;
    height: 100%;

    @include make-responsive-tablet {
      width: 100%;
    }
  }
}

.title {
  margin: 0;

  @include make-responsive-mobile {
    font-size: make-rem(36);
    line-height: make-rem(40);
  }

  @include make-responsive-tablet {
    font-size: make-rem(48);
    line-height: 1.2;
    font-weight: 700;
  }
}

.subtitle {
  margin: 0;
  font-size: make-rem(16);
  line-height: make-rem(24);
  font-weight: 400;
  color: make-color(grey-6);
  margin-top: make-rem(24);

  @include make-responsive-mobile {
  }

  @include make-responsive-tablet {
  }
}

.overline {
  display: block;
  font-size: make-rem(12);
  line-height: make-rem(12);
  font-weight: 900;
  color: make-color(primary-dark);
  text-transform: uppercase;
  margin-bottom: make-rem(24);

  @include make-responsive-mobile {
  }

  @include make-responsive-tablet {
  }
}

.actions {
  margin-top: make-rem(32);
  display: flex;
  gap: make-rem(16);
  justify-content: center;
}

.variant-basic {
  position: relative;
  z-index: 10;

  @include make-responsive-mobile {
    padding: make-rem(80) make-rem(32);
    text-align: center;
  }

  @include make-responsive-tablet {
    text-align: center;
    max-width: make-rem(640);
    margin: 0 auto;
    padding: make-rem(80) 0;
  }

  @include make-global(actions, nested) {
    margin-top: make-rem(32);
    display: flex;
    gap: make-rem(16);
    justify-content: center;

    @include make-responsive-mobile {
    }

    @include make-responsive-tablet {
    }
  }
}

.variant-image-right {
  position: relative;
  z-index: 10;

  @include make-responsive-mobile {
    margin: 0 auto;
    padding: make-rem(60) make-rem(32);
    text-align: center;
  }

  @include make-responsive-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: make-rem(92);
    max-width: make-rem(1024);
    margin: 0 auto;
    padding: make-rem(80) make-rem(32);
    height: max-content;
  }

  & > div {
    &:last-child {
      border-radius: make-rem(8);
      overflow: hidden;

      @include make-responsive-mobile {
        height: make-rem(400);
        margin-top: make-rem(60);

        & > img {
          width: 100%;
          object-position: center !important;
        }
      }

      @include make-responsive-tablet {
        height: make-rem(600);

        & > img {
          width: 100%;
        }
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }

  @include make-global(actions, nested) {
    @include make-responsive-mobile {
      justify-content: center;
      flex-direction: column;
      align-items: stretch;

      button,
      a {
        width: 100%;
        justify-content: center;
        height: make-rem(52);
      }
    }

    @include make-responsive-tablet {
      justify-content: flex-start;
    }
  }
}

.variant-faded-img {
  min-height: min-content;
  z-index: 11;
  position: relative;

  @include make-responsive-mobile {
    padding: make-rem(60) make-rem(32);
  }

  @include make-responsive-tablet {
    padding: make-rem(80) make-rem(64);
    max-width: make-rem(1400);
    margin: 0 auto;
    display: flex;
  }

  & > div {
    max-width: 60ch;
    z-index: 10;
  }

  @include make-global(subtitle, nested) {
    color: make-color(grey-8);
  }

  @include make-global(left) {
    & > div {
      padding: make-rem(36);
      border-radius: make-rem(8);
      background: make-color(paper, 0.7);
      justify-content: flex-start;

      @include make-global(actions, nested) {
        justify-content: flex-start;
      }
    }
  }
  @include make-global(center) {
    & > div {
      max-width: 60ch;
      margin: 0 auto;
    }
  }
  @include make-global(right) {
    & > div {
      justify-content: flex-end;
    }
  }

  .logo {
    max-height: make-rem(120);
    max-width: 60%;
    margin-bottom: make-rem(32);
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0)
  );
}
