@import "../../theme/utils";

.navbar {
  & > ul {
    @include make-reset-ul();

    max-width: make-rem(1024);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: make-rem(24);

    @include make-responsive-mobile {
      display: none;
      height: make-rem(80);
    }
  }
}

// this will only display mobile
.navbar-m {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: make-rem(80) auto 1fr;
  gap: make-rem(16);

  ul {
    @include make-reset-ul();
  }
}
.navbar-m-head {
  padding: make-rem(16);

  button {
    @include make-reset-button();
    border-radius: make-rem(8);
    border: make-rem(1) solid make-color(grey-1);
    height: make-rem(44);
    width: make-rem(44);
    display: grid;
    place-items: center;
    &:hover {
      background: make-color(grey-1);
    }
  }
}
.navbar-m-logo {
  max-width: 50%;
  margin: 0 auto;
  max-height: 100%;
  align-self: center;
}

.navbar-item {
  @include make-responsive-mobile {
    width: 100%;
    border-bottom: make-rem(1) solid make-color(grey-1, 0.5);
  }
  @include make-responsive-tablet {
    height: make-rem(40);
    display: flex;
    align-items: center;
  }
}

.navbar-link {
  text-transform: capitalize;
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  font-size: make-rem(16);
  color: make-color(grey-5);
  font-family: var(--font-family);
  padding: 0;

  // Up to tablet
  @include make-responsive-mobile {
    @include make-global(active) {
      & > div {
        background: make-color(primary);
        color: make-color(paper);
      }
    }
  }

  // tablet and up
  @include make-responsive-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;

    &:hover {
      color: make-color(primary);
      cursor: pointer;
    }

    @include make-global(active) {
      color: make-color(primary) !important;
    }
  }
}

.navbar-link-content {
  @include make-responsive-mobile {
    padding: 0 make-rem(16);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: make-rem(8);
    height: make-rem(44);
    text-align: left;
    font-size: make-rem(14);
  }
}

.launcher {
  cursor: pointer;

  @include make-reset-button;
  @include make-responsive-tablet {
    display: none;
  }
}

.navbar-dropdown-link {
  text-decoration: none;
  color: make-color(dark);

  // Responsive: Up to tablet
  @include make-responsive-mobile {
    padding-left: make-rem(32);
    font-size: make-rem(12);
  }

  // Responsive: Tablet and up
  @include make-responsive-tablet {
    height: make-rem(38);
    min-width: make-rem(180);
    padding: 0 make-rem(16);
    display: flex;
    align-items: center;
    border-radius: make-rem(8);
    margin: make-rem(6) 0;
    cursor: pointer;
    font-size: make-rem(14);
  }

  @include make-global(active) {
    background: make-color(primary);
    color: make-color(paper);
  }
}
